h1 {
    text-align: center;
    background: #000;
    padding: 2%;
    color: #fff;
    font-family: helvetica;
    font-size: 4.5vw;
}

body {
    text-align: center;
}

img {
    margin-top: 5vw;
    width: 20%;
    border: #000 1px;
    float: left;
}